:root{
   --btn-bkc: #43E094;
   --btn-bkc-hover: #278e5c;
   --btn-bkc-click: #19633f;
}
body{
   background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.center-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.btn-size{
   width: 100%;
}
.inputBorder{
   border: none;
   border-bottom: 2px solid rgb(156, 156, 156);
   border-radius: 80px;
}
.btn-color{
   color: var(--btn-bkc);
   border-color: var(--btn-bkc);}
.btn-color:hover{
   background-color: var(--btn-bkc-hover);
}
.btn-color:focus{
   background-color: var(--btn-bkc-click);
}
.centertext {
   text-align: center;
}
