/***** Start Variables *****/  


:root {
  --form-max-width: 90%;
  --form-margin: 20px auto;
  --label-display: block;
  --label-margin-bottom: 5px;
  --input-width: 100%;
  --input-padding: 8px;
  --input-margin-bottom: 10px;
  --messages-padding: 0;
  --footer-padding-top: 50px;
  --btn-border-radius: 12px;
  --btn-border-style: 0.5px solid #111111;
  --input-border-radius: 12px;
  --footer-border-top-left-radius: 80px;
  --footer-border-top-right-radius: 80px;
  --main-website-color: #0ae76a ;
  ---on-primary-container: #66FDAE;
  --footer-h4-color: #FFF;
  --footer-background-color: #111111;
  --footer-a-color: #AFB0B2;
  --footer-p-color: #AFB0B2;
  --secondary-main-color:#54D7F3;
  --on-secondary:#003640;
  --input-bkc:#E6E0E9;
  --primary-container:#43E094;
  --input-padding: 8px;
  --footer-padding-top: 50px;
}
 .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.col-sm-6{
  margin: 12px 0;
}
/***** End Variables *****/

/***** Start Home page *****/ 
.hero{
  background-image: url("https://images.unsplash.com/photo-1475503572774-15a45e5d60b9?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size:  width="100%"  height="200px";
    padding:96px 48px;
}
.text-container h2{
  font-size: 2.6rem;
}
.text-container h3{
  font-size: 1.6rem;
}
.text-container {
  color: white
}
.features{
  padding: 48px;
  text-align: center;
  font-size: 1.2rem;
}
.cars{
  text-align: center;
}
.testimonial {
  padding: 20px;
  margin:16px;
  text-align: center;
  background-color: #e4e4e4;
  border: 0.5px solid #003640;
  border-radius: 12px;
}
/***** End Home page *****/

section div.map{
  background-image: url("https://images.unsplash.com/photo-1479232284091-c8829ec114ad?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 500PX;
}
section  h3{
  text-align: center;
}
form {
   max-width: var(--form-max-width);
   margin: var(--form-margin);
 }
.a-color{
  color: var(--main-website-color);
 }
label {
   display: var(--label-display);
   margin-bottom: var(--label-margin-bottom);
 }
.search {
   width: var(--input-width);
   padding: var(--input-padding);
   margin-bottom: var(--input-margin-bottom);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border: none;
   border-bottom: .5px solid black;
   background-color: var(--input-bkc);

  }
.text-container{
    margin-left: 55px;
  }
.main-input-style{
    border:none;
    border-bottom:1px solid var(--primary-container) ;
    border-radius: 15px;
    padding: 20px;
  }

  /***** start buttons *****/ 
.btn-style{
     color: whitesmoke;
     background-color: var(--primary-container);
     border-radius: 0.25rem;
     opacity: 90%;
     transition: 0.3s;
}
.btn-style:hover{
     color: white;
     opacity: 90%;
     border: #36b276 solid 1px;
     background-color: var(--primary-container);
}
.btn-style:focus{
     color: white !important;
     background-color: #43E094 !important;
     opacity: 100%;
  
}
/***** End buttons *****/
  
section.rentCar{
  background-image: url("https://images.unsplash.com/photo-1592330169142-b488cfd72b2b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.insurance-hero {
  background-image: url("https://images.unsplash.com/photo-1684498887952-c7117fdffce3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.helpHero{
  background-image: url("https://images.unsplash.com/photo-1544027993-37dbfe43562a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.equipmentList span{
  background-color: #ace9f7;
  padding: 0.26rem;
  margin: 0.4rem;
  border-radius: 0.5rem;
}
.requirementsList span{
  background-color: #ace9f7;
  padding: 0.26rem;
  margin: 0.4rem;
  border-radius: 0.5rem;

}
  /***** about section page *****/ 
.about-hero{
  min-height: 200Px;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1655480530311-b3c63da9021e?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.join-us{
  width: 84%;
  margin: auto;
  background-color: #005230;
  text-align: center;
  height: 200px;
  border-top-left-radius: var(--footer-border-top-left-radius);
   border-top-right-radius: var(--footer-border-top-right-radius);
}
.on-primary-container {
  color: var(---on-primary-container);
}
/***** End about section page *****/

/***** Start Footer *****/  
 
footer {
  padding-top: var(--footer-padding-top);
  border-top-left-radius: var(--footer-border-top-left-radius);
  border-top-right-radius: var(--footer-border-top-right-radius);
  background-color: var(--footer-background-color);
  width: 100%;
  margin:auto;
  
}

footer h4 {
  color: var(--footer-h4-color);
  margin-bottom: 24px;


}

footer a,
footer p {
  color: var(--footer-a-color);
}
footer i{
 margin-right: 12px;
}
.footer-section {
 padding-left: 48px;
}
footer .dropdow-btn{
 background-color: transparent;
 border: none;
 color: var(--footer-a-color);
 margin-left: -12px;
}
footer a.LOGO{
 color: var(--footer-h4-color);
 padding: 30px 5px;
 background-color: var(--main-website-color);
 border-radius: 50%;
 margin-bottom: 12px;
}
/***** End Footer *****/
