{% extends "base.html" %} {% block title %} About {% endblock %} {% block
content %}
<!-- Hero Section -->
<div class="about-hero">
  <div class="container">
    <div class="text-white h1 w-75">
      <p class="p-4 fw-bold h1 w-75">
        Enhancing accessibility, convenience, and responsibility in mobility
        through sharing.
      </p>
    </div>
  </div>
</div>

<!-- Features Section -->
<div class="container my-4">
  <div class="row">
    <!-- Feature 1: Rent a car anywhere -->
    <div class="col-4 text-center">
      <img
        width="40px"
        height="40px"
        src="https://www.svgrepo.com/show/530236/location.svg"
        alt="Location"
      />
      <p class="display-6">Rent a car anywhere</p>
      <p>
        Find a car just down the street from your home, your place of work and
        near train stations and airports.
      </p>
    </div>

    <!-- Feature 2: We are still adding -->
    <div class="col-4 text-center">
      <img
        width="40px"
        height="40px"
        src="https://www.svgrepo.com/show/822/globe.svg"
        alt="Location"
      />
      <p class="display-6">We are still adding</p>
      <p>
        Rent a car everywhere in Morocco, and drive around Africa with peace of
        mind.
      </p>
    </div>

    <!-- Feature 3: For all occasions -->
    <div class="col-4 text-center">
      <img
        width="40px"
        height="40px"
        src="https://www.svgrepo.com/show/444871/truck-delivery.svg"
        alt="Location"
      />
      <p class="display-6">For all occasions</p>
      <p>
        Weddings, moving, vacations... Whatever your needs, rent the right
        vehicle for you.
      </p>
    </div>
  </div>
</div>

<!-- Start quote section  -->
<div class="container my-4 w-50 align-content-center">
  <h4 class="text-justify-left lato-black-italic">
    &#x275D  For just occasional rentals? Not anymore! On the strength of its success
    and its rapid growth, Cricars has decided to make life easier for travelers
    by expanding its service to all types of everyday car journeys. This new
    goal poses new challenges: immediacy, daily availability, proximity,
    excellence and simplicity of service for an outstanding user experience. &#x275E
  </h4>
  <div class="lead">El Walid BOUSMAHA Co founder of Cricars</div>
</div>

<!-- End quote section  -->

<!-- ========== Start Join us ========== -->
<div class="join-us align-content-center">
  <p class="on-primary-container p-3">So, are you ready to take part in this adventure? Join us now!</p>
  <a href="#" class="btn btn-style btn-lg m-4">Join us</a>
</div>
<!-- ========== End Join us ========== -->

{% endblock %}
