{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="hero">
    <div class="textcontainer">

        <h2 class="lato-bold">Rent a car near YOU</h2>
        <h3 class="lato-bold">Feeling the urge to go? Absolutely!</h3>
    </div>
    <div class="searchForm">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.place }}
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.start_date }}
                </div>
                <div class="col-md-6">
                    {{ form.end_date }}
                </div>
            </div>
            {{ form.submit() }}
        </form>
    </div>
</div>
<!-- Start Features section -->
<section class="features">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Content for the first column -->
                <i class="bi bi-people" style="color: #43E094;"></i>
                <span>Additional drivers and all equipment for free</span>
            </div>
            <div class="col-sm-4">
                <!-- Content for the first column -->
                <i class="bi bi-shield-shaded" style="color: #43E094;"></i> <span>Multi-risk insurance and assistance
                    24/7</span>
            </div>
            <div class="col-sm-4">
                <!-- Content for the first column -->
                <i class="bi bi-car-front" style=" color: #43E094;"></i> <span>30,000 cars and utility vehicles to
                    rent</span>
            </div>
        </div>
    </div>

</section>
<!-- End Features section -->

<section class="cars">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Content for the first column -->
                <h3 class="lato-light">TRY NOW, CARS NEAR YOU main</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="https://source.unsplash.com/random/?car,white" width="200px" height="200px" alt="">
                    </div>

                    <div class="col-sm-6">
                        <img src="https://source.unsplash.com/random/?car,red" width="200px" height="200px" alt="">
                    </div>
                </div>
                <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-sm-6">
                        <img src="https://source.unsplash.com/random/?car,yellow" width="200px" height="200px" alt="">
                    </div>

                    <div class="col-sm-6">
                        <img src="https://source.unsplash.com/random/?car,black" width="200px" height="200px" alt="">
                    </div>
                    <!-- </div> -->
                </div>
            </div>

            <div class="col-lg-6">
                <!-- Content for the second column -->
                <h3 class="la">OVER 3 million guest trust us</h3>
                <div class="row">
                    <div class="col-sm-12 testimonial">
                        <p>testimonial</p>
                    </div>
                    <div class="col-sm-12 testimonial">
                        <p>testimonial</p>
                    </div>
                    <div class="col-sm-12 testimonial">
                        <p>testimonial</p>
                    </div>
                    <div class="col-sm-12 testimonial">
                        <p>testimonial</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="themap">
    <h3 class="lato-light">We are all over here</h3>
    <div class="map"></div>

</section>
<section class="cartypes">
    <h3>A particular need? A car for</h3>
    <div class="container">
        <div class="row row-cols-3 row-cols-lg-5 g-4">
            <!-- Column 1 -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://source.unsplash.com/random/?car,weekend" width="100px" height="100px" alt=""
                            srcset="">
                        <h5>WEEKEND</h5>
                    </div>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://source.unsplash.com/random/?car,Holidays" width="100px" height="100px" alt=""
                            srcset="">
                        <h5>Holidays</h5>
                    </div>
                </div>
            </div>

            <!-- Column 3 -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://source.unsplash.com/random/?car,Moving,house" width="100px" height="100px"
                            alt="" srcset="">
                        <h5>Moving house</h5>
                    </div>
                </div>
            </div>

            <!-- Column 4 -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://source.unsplash.com/random/?car,work" width="100px" height="100px" alt=""
                            srcset="">
                        <h5>For work</h5>
                    </div>
                </div>
            </div>

            <!-- Column 5 -->
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="https://source.unsplash.com/random/?car,red" width="100px" height="100px" alt=""
                            srcset="">
                        <h5>Wedding</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="moreInfo p-4">
    <div class="container">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col card shadow-sm p-4 m-3">
                <h4>Any questions?</h4>
                <p>Our team is available seven days a week
                    at <a href="mailto: contact@cricars.com" class="text-decoration-none">
                        <span style="color: #43E094;">contact@cricars.com</span></p>
                </a>
            </div>
            <div class="col p-4 shadow-sm card m-3">
                <h4>All rentals are insured by XXX</h4>
                <p>Insurance included in the price. Multi-risk accident and theft coverage. 24-hour breakdown assistance
                    for all vehicles.</p>
            </div>
        </div>

    </div>
</section>
{% endblock %}