{% extends "base.html" %}

{% block title %}insurance for-owner & guest {% endblock %}
{% block content %}
<!-- ========== Start HERO ========== -->
<section class="insurance-hero p-5">

    <div class="container text-start text-light ">
        <div class="row">
            <div class="col-lg-8 p-5">
                <h1>Get on the road with XXX</h1>
                <p class="fw-bold h5">For each rental made with Cricars, our insurance automatically replaces the car
                    host's insurance for the entire duration of the rental. The cost of the insurance is included in the
                    prices displayed on the website.</p>
            </div>
        </div>
    </div>
</section>

<!-- ========== End HERO ========== -->

<!-- ========== Start Guest and host insurance section ========== -->
<section class="p-5">
    <div class="container">
        <div class="row justify-content-center">
            <!-- guest -->
            <div class="col-lg-5 bg-dark ">
                <h3 class="text-dark">Guest</h3>
                <div class="">
                    <h5 class="text-dark bg-white text-center">Civil liability insurance included</h5>
                    <p class="text-muted text-start">- Bodily injury: unlimited.</p>
                    <p class="text-muted text-start">- Property damage: limited to XXX MAD (including fire, explosion 2
                        million).</p>
                </div>
                <div class="">
                    <h5 class="text-dark bg-white text-center">24-hour breakdown and accident assistance included</h5>
                    <p class="text-muted text-start">In the event of a breakdown or accident, rented vehicles are
                        automatically entitled to 0 kilometer 24/7 assistance.</p>
                </div>
                <div class="">
                    <h5 class="text-dark bg-white text-center">Additional insurance and assistance options</h5>
                    <p class="text-muted text-start">These additional guarantees are offered as an option, when booking
                        the vehicle or at any time before the start of the rental period.</p>
                </div>
            </div>
            <!-- Host -->
            <div class="col-lg-5 bg-dark">
                <h3 class="text-dark ">Host</h3>
                <div>
                    <h5 class="text-dark bg-white text-center">XXX insurance included</h5>
                    <p class="text-muted text-start">Our insurance automatically replaces your vehicle's insurance for
                        the entire rental period.</p>
                </div>
                <div>
                    <h5 class="text-dark bg-white text-center">Criminal defense and recourse following an accident</h5>
                    <p class="text-muted text-start">Coverage of the costs for initiating legal proceedings in the event
                        of a dispute with a third party.</p>
                </div>
                <div>
                    <h5 class="text-dark bg-white text-center">24-hour breakdown and accident assistance</h5>
                    <p class="text-muted text-start">In the event of a breakdown or accident, rented vehicles are
                        automatically entitled to 0 kilometer 24/7 assistance.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========== End Guest and host insurance section ========== -->


{% endblock %}