{% extends "base.html" %}

{% block title %}insurance for-owner & guest {% endblock %}
{% block content %}
<!-- ========== Start HERO ========== -->
<section class="insurance-hero p-5">

    <div class="container text-start text-light ">
        <div class="row">
            <div class="col-lg-8 p-5">
                <h1>Get on the road with XXX</h1>
                <p class="fw-bold h5">For each rental made with Cricars, our insurance automatically replaces the car
                    host's insurance for the entire duration of the rental. The cost of the insurance is included in the
                    prices displayed on the website.</p>
            </div>
        </div>
    </div>
</section>

<!-- ========== End HERO ========== -->

<!-- ========== Start Guest and host insurance section ========== -->
<section class="p-5">

</section>
<!-- ========== End Guest and host insurance section ========== -->


{% endblock %}