{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h2 class="display-4 text-center">Welcome Back</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<form id="signupForm" action="{{ url_for('login') }}" method="post" class="w-50">
    <input class="form-control my-3 " placeholder="Email" type="email" id="validationCustom01" name="email" required>
    <input class="form-control my-3 " placeholder="Password" type="password" id="password" name="password" required="">
    <p class="lato-regular">Forgot password?
        <a class="a-color" href="/resetpassword">Reset password</a>
    </p>
    <button type="submit" class="btn col-12 btn-style">
        <i class="bi bi-box-arrow-in-right mx-2"></i>
        Login</button>
    <p class="lato-regular mt-3">Don't have an account?
        <a class="a-color" href="/signup">Sign Up here</a>
    </p>

</form>
{% endblock %}