{% extends "base.html" %}

{% block title %}reset password{% endblock %}
{% block content %}
<h2 class="display-4 text-center text-capitalize">reset password</h2>

<form action="{{ url_for('resetpassword') }}" method="post" class="w-50">

    {{ form.hidden_tag() }}
    {{ form.email (class_="form-control", size=64)}}
    <div class="mt-3">

        {{ form.submit (class_= "btn btn-style col-12") }}
      </div>

    <p class="lato-regular">Don't have an account? <a href="/signup">Create one here</a></p>

</form>
{% endblock %}